.table {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;

    tbody {
        tr {
            transition: .5s all;
            opacity: .7;

            &:hover {
                opacity: 1;
            }

            &:nth-child(odd) {
                background-color: #f2f2f245;
            }

            th {
                padding: 15px;
                border: 1px solid #323232;
            }
        }

        td {
            border: 1px solid #595959;
            padding: 3px;
            width: 30px;
            height: 35px;
        }
    }

    #currentRate {
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translateY(-50%);
            background: url(/src/img/icon-sort.png) no-repeat center;
            background-size: contain;
            width: 20px;
            height: 20px;
        }
    }

    #currentName {
        position: relative;
        cursor: pointer;


        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translateY(-50%);
            background: url(/src/img/icon-sort.png) no-repeat center;
            background-size: contain;
            width: 20px;
            height: 20px;
        }
    }
}